:host mat-form-field {
  width: 90%;
  margin: 0 auto;
  display: block;
}
:host .btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
:host .btn-container button {
  min-width: 90px;
}
:host .btn-container button:first-child {
  margin-right: 15px;
}
:host .url-invalid {
  width: 100%;
  text-align: center;
}
:host .url-invalid p {
  margin: 0px 0 15px;
  color: red;
  font-weight: bold;
}
