.container {
  width: 100%;
  height: 100%;
}
.square-container {
  width: 80%;
  background-color: #507bca;
  padding: 56px 70px;
  margin: 0 auto;
  margin-top: 70px;
}
.square-container h1 {
  text-align: center;
  color: #fff;
}
