html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-form-field-empty.mat-form-field-label {
  color: #ffffff;
}
.mat-form-field-underline {
  color: #ffffff;
}
.mat-form-field-appearance-legacy.mat-form-field-can-float
  .mat-input-server:focus
  + .mat-form-field-label-wrapper
  .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  color: #ffffff;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #ffffff;
}
.mat-form-field-ripple {
  background-color: #ffffff !important;
}
