:host {
  mat-form-field {
    width: 90%;
    margin: 0 auto;
    display: block;
  }

  .btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      min-width: 90px;
    }
    button:first-child {
      margin-right: 15px;
    }
  }

  .url-invalid{
    width: 100%;
    text-align: center;
    p {
      margin: 0px 0 15px;
      color:red;
      font-weight: bold;
    }
  }

}

